.body-content{
    min-height: 1000px;
}

.new_articles-list a {
    font-size: 1.2em;
    line-height: 2em;
}
body{
    font-size: 14px;
    line-height: 1.42857143;
}
.nav{
    font-size: 1.4em;
}
footer{
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;

    color: #acacac;
    text-align: center;
}