
// Color
$body-bg: #FFFFCC;
$text-color: #339966;
$navbar-default-bg: #339933;
$panel-default-heading-bg: #99CC00;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Font
$font-family-sans-serif: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
$font-size-base: 12px;
$font-size-large:         ceil(($font-size-base * 1.65)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$line-height-base: 1.6;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Radius
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

// Navbar links
$navbar-default-link-color:                lighten($navbar-default-bg,50%) !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-disabled-color:       #ccc !default;
